{% extends 'polls/base.html' %}
{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Ошибка формы
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
  <h2>Регистрация</h2>
  <form  action="{% url 'reg' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    

    <input type="submit" value="Зарегестрироваться" class="btn btn-secondary">
  </form>
  <br/>  
<br/>
    
{% endblock content %}